<img src ="{{image_url}}{{image_name}}">
<div align="centre"> <h1>Welcome to PicyPyi </h1></div>

<h3> Fill Below to upload and Tags funniewst pic ever </h3>
<form action="{% url 'content_upload_pics' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ upload_image_form.as_p }}
<input type="submit" value="Submit" />
</form>
