/*
A custom Bootstrap 3.1 template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

@media only screen and (max-width: 320px) {

       body { font-size: 1em;}

}


@font-face {
  font-family: 'typicons';
  src: url("static/css/typicons.eot");
  src: url("static/css/typicons.eot?#iefix") format('embedded-opentype'),
       url("static/css/typicons.woff") format('woff'),
       url("static/css/typicons.ttf") format('truetype'),
       url("static/css/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

html,body {
	height:100%;
    background-color: whitesmoke;
}

.icon-bar {
	background-color:#fff;
}

.nav{
    padding-right: 10px !important;
}

.navbar-trans {
	background-color:lightgray;
    color:#fff;

}
.nav-menu{
    padding-right: 10px !important;
    font-size:18px;
    font-style:Bold;
    font-family: 'lucida grande';
}
.img-div{
    width: 90%;
    height: 80%;
    padding:10px;
}
.right-img-div{
    width: 50%;
    height:100%;
    overflow:hidden;
    display:border;
    padding:1%;
    position:relative;
}
.right-img-div img{
position:absolute;
}
.e-subscription-header{
font-color:Black;
margin-top:5px;
padding:5px;
text-decoration:None;
}
#e-subs-div{
top:-11px;
display:block;
position:fixed;
}
#subscribe-form{
left:0px;
display:block;
}
#popular-title h5{
/*display:block;
margin-left:-40px;
position:absolute;
font-size:20px;*/
color:black;
}
.side-popular-img{
    padding: 1%;

}
#reco-title
{
position: relative;
left:0px;

}
.img-row{
padding:20px;
margin:15px;
}
.img-prev-next{
    display:block;
    width: 100%;
    padding:4px;
    margin-bottom:5%;
}
.img-prev{
    display: inline-block
    position:relative;
    color:green;
    float:left;
    margin-left:1%;
    cursor:pointer;
}
.img-prev , a{
color:green;
}
.img-next{
    display: inline-block
    position:relative;
    float:right;
    margin-right:1%;
}

.img-next , a{
color:green;
}

.img-header{
    margin-top:0%;
    display:block
    width: 100%;
}
.img-title{
float:left;
}
.img-title, h3{
    color:#545453;
    margin-left:1%;
}
.img-title , h3:hover{
    color:#006e2e;
    margin-left:1%;
}
#footer-nav{
    margin-left:25%;
}
#footer-nav,h5{
    display:inline;
    padding-left:2%;
}
#footer-nav,h5,a{
    color:#fff;
}

.img-footer{
    display:block;
}
.img-like-comment{
display:block;
color:grey;
padding-bottom:10px;
}

.fb-comments{
display:block;
padding:20px;
}
.left-comment{
    position:absolute;
    left:0;
}
.left-comment:hover{
    color:#006e2e;
}
.right-like{
    position:absolute;
    right:0;
}
.right-like:hover{
    color:#006e2e;
}
.rating{
cursor:pointer;
padding:2.5%;
color:#666666;
font-size:-webkit-xxx-large;
font-size-adjust: 1.5;
}
.rating-comment{
cursor:pointer;
padding-right:5%;
color:#666666;
}
.rated{
cursor:pointer;
padding:2.5%;
color:#ABA0EF;
font-size:-webkit-xxx-large;
font-size-adjust: 1.5;
}
.rating-share{
padding-right:5%;
}
span.rating img{
cursor:pointer;
}
#popular_image{
position:fixed;
width:90%;
}

.images-popularity{
display:block;
position:absolute;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#38afef;
}

.navbar-trans a{
    color:initial;
}
.navbar-brand{
    font-style: normal;
    font-weight:bold;
    font-family: 'lucida grande';
    font-size: 40px !important;
    margin-left:45px !important;
}
.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
    padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
}
#comment-text{
    font-size:15px;
    font-weight:bold;
    padding:5px;
color:grey;
}

.v-center {
    padding-top:10%;
    font-size:70px;
}
  
.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
    color:#fff;
}
  
#section1 {
	background-color: #168ccc;
    color:#dedeff;
}
  
#section2 {
	background-color: #e5e5ef;
    color:#686868;
}
  
#section3 {
	background-color: #168ccc;
    color:#ddd;
}

#section4 {
	background-color: #fff;
    color:#444;
}

#img-section{
    color:#f5f5f5;
}

#section6 {
	background-color: #168ccc;
    color:#ddd;
}

footer {
	background-color:#494949;
    color:#ddd;
    height:20px;
    padding-top:5px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}

#ppBody
{
    font-size:11pt;
    width:100%;
    
    text-align:justify;
}

#ppHeader
{
    font-family:verdana;
    font-size:21pt;
    width:960px;
    margin:0 auto;
    padding-bottom: 2%;
    text-align: center;
}

.ppConsistencies
{
    display:none;
}
#social-like{
}
