<!DOCTYPE html>
<html lang="en">
<head>

{% include 'shared/header.html' %}
</head>
	<body>
{% include 'shared/navbar.html' %}

<section class="container-fluid" id="img-section">
	<div id='ppHeader'>About Us</div>
<article>
  <h5> With motivation of Sir Charlie Chaplin saying , <u> "A day without laughter , is a day wasted" </u> , Picypy with support of lots of volunteers , collects funny images world wide and attempts to display images based on user interest. If you really be part of the happy world send us request to be volunteers at <strong>mypicypy@gmail.com. </strong>
  </h5>



  
</section>
</article>
{% include 'shared/footer.html' %}
	</body>
</html>
