    <div class="row img-row">
      <div class="col-xs-12 col-sm-9 col-lg-9 col-md-9 col-centered">
            <div class="list-group">

{% if RANDOM_IMAGE %}
                <div class='img-prev-next'>
                        <h3 class="img-prev" onclick="goBack()"> <a>Previous </a></h3>
                        <h3 class="img-next">
                        <a href="/random/{% if image.title %}{{ next_image.slug}}{% else %}{{next_image.id}}{% endif %}"> Next</a>
                     </h3>
                </div>
{% endif %}
{% comment %}
                <div class='img-header'>
                    <div class="img-title">
                        <h3>PicyPy </h3>
                    </div>
                </div>
{% endcomment %}
                <img src="{{image.image_url}}" class="img-div" id="img-id-{{image.id}}">
      <div class='img-footer'>
       <div class='img-like-comment'>
{% comment %}
            <span class='left-commment'>0 comments </h5>
{% endcomment %}
            <span class="right-like" id="{{image.id}}_like">{% if image.like_count == 0 %} 0 Like {% else %} {{ image.like_count}} Like{{ image.like_count|pluralize }}{% endif %}</h5>
       </div>

 <div class="image-popularity container-fluid">
        
        {% include 'shared/social-activity.html' %}
        

          <div id="comment-text"> <b> Comment</b></div>
<div class="fb-comments" data-href="http://picypy.com/image/{{image.id}}" data-numposts="5" data-colorscheme="light" id="comment"></div>
        </div>
      </div>
            </div>
      </div>
    </div>
