<!DOCTYPE html>
<html lang="en">
<head>

{% include 'shared/header.html' %}
</head>
	<body>
{% include 'shared/navbar.html' %}
<section class="container-fluid" id="img-section">
<article>
  

<div id='ppHeader'>Contact Us</div>
<h3>You can contact us at mypicypy@gmail.com</h3>
  

</section>
</article>
{% include 'shared/footer.html' %}
	</body>
</html>
