    {% for image in popular_images %}
    <div class="row">
      <div class="col-xs-2 col-sm-6 col-lg-8 col-md-8" id="popular-img">
            <div class="list-group">
                <img src="{{image.img_path.name}}" class="img-div">
                {% comment %}
              <a href="#" class="list-group-item">
                <button class="btn btn-primary btn-lg btn-block">Tags</button>
              </a>
              {% endcomment %}
            </div>
      </div>
     
    </div>
   {% endfor %}
