 {% for image in random_images %}
    <div class="row img-row" >
      <div class="col-xs-12 col-sm-9 col-lg-9 col-md-9 col-centered">
            <div class="list-group">
                <!-- <div class='img-header'>
                    <div class="img-title">
                        <h3>PicyPy</h3>
                    </div>
                </div> -->
                <a href="/image/{% if image.title %}{{ image.slug}}{% else %}{{image.id}}{% endif %}"><img src="{{image.image_url}}" class="img-div rating" id="{{image.id}}_7"></a>
      <div class='img-footer'>
       <div class='img-like-comment'>
{% comment %}
            <span class='left-commment'>0 comments </span>
{% endcomment %}
            <!-- <span class="right-like" id="{{image.id}}_like">{% if image.like_count == 0 %} 0 Like {% else %} {{ image.like_count}} Like{{ image.like_count|pluralize }}{% endif %}</span> -->
       </div>
       <div class="image-popularity container-fluid">
        
        {% include 'shared/social-activity.html' %}
        
      </div>
        <hr/>
      </div>      
    </div>
  </div>
</div>
{% endfor %}
