<!DOCTYPE html>
<html lang="en">
<head>
{% include 'shared/header.html' %}
</head>
	<body>
{% include 'shared/navbar.html' %}
<section class="container-fluid" id="img-section">
<div class="row">
  <div class="col-xs-8 col-md-8 col-sm-8 col-lg-8" id="display_images">
  {% include 'display_images.html' %}
  </div>
  <div class="col-xs-4  col-md-4 col-sm-4 col-lg-4" id="popular_images">
  {% include 'popular_images.html' %}
  </div>
  </div>
</section>
{% include 'shared/footer.html' %}
    <script type="text/javascript">
    <!--  on scroll down get the current element on the screen If there is atleast 5 pics available after the current elemnt do nothing else load some more pics-->
        $(document).ready(function(){
        ajax_call = 0
        processing = 1
        function get_images_diplayed(){
          all_images = $('.img-div')
          images_shown_id = []
          images_shown = {}
          for (i=0; i<all_images.length ; i++){
            image_name_dict = {}
            image = all_images[i].id
            image_detail = image.split('-')
            image_id = image_detail[image_detail.length - 1]
            images_shown_id.push(image_id) 
          }
          images_shown_id = JSON.stringify(images_shown_id)
          images_shown['images_shown'] = images_shown_id
          return images_shown
          }
        $(window).scroll(function(){
        if ($(window).scrollTop() >= ($(document).height() - $(window).height())*0.8 && processing == 1){
            //FB.XFBML.parse();
            processing = 0
            images_shown = get_images_diplayed()
            $.ajax({
            type:'GET',
            url:'/get-images-by-ajax',
            data : images_shown,
            dataType: 'html',
            success: function(response){
            $('#display_images').append(response);
            ajax_call = ajax_call + 1
            processing = 1
            },
            });
            }
       });
        });
      $(document).on('click','.rating',function(e){
            var image_rate_id = {};
            var rating_image = $(this);
            image_rate_id['id'] = rating_image[0].id;
            var rating_status = get_rating_status($(this));
            if (rating_status != true){
            $.ajax({
            type:'GET',
            url:'/rate-image/',
            data : image_rate_id,
            dataType: 'json',
            success: function(response){
            var rated_class_name = response['new_rated_css']
            var image_like_count = response['like_count']
            image_id = image_rate_id['id'].split('_')[0]
            liked_div = "#" + image_id + '_like' 
            $(liked_div).html(image_like_count)
            rating_image.removeClass('rating').addClass('rated')
            },
            });
            }
            else{
            alert('Image Already Rated!!')
            }
      })
    </script>
	</body>
</html>
