<div class="container-fluid ">
<div class="row" >
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 col-centered" id="popular-title">
      <h5 id = "reco-title side-popular-img" ><strong>Our Recommendation</strong></h5>
      </div>
      </div>
{% for image in suggested_image %}
    <div class="row" >
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 col-centered">
            <div class="side-popular-img">
                <a href="/image/{{image.id}}"><img src="{{ image.image_url }}" class="right-img-div img-polaroid" id="img-id-{{image.id}}"></a>
            </div>
      </div>
    </div>
   {% endfor %}

{% comment %}
    <div class="row" id='e-subs-div'>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-md-8">
              <div class="e-subscription-header"><h3> Subscribe to PicyPy!!</h3> </div> 
            <div class="list-group">
                
            </div>
      </div>
    </div>
    <div class="row" >
        <div class="form-inline" id="subscribe-form">
          <div class="form-group">
            <input type="email" class="form-control" id="subs-input-email" placeholder="Enter email to subscribe">
          </div>
          <button id="subs-button" class="btn btn-default" >Subscribe</button>
        </div>
    </div>
{% endcomment %}
</div>
