<footer id="footer">
<span id="footer-nav">
<h5> Copyright © 2014 -<a href="/"> Picypy.com </a></h5>
<h5> <a href="/privacy/">Privacy Policy </a></h5>
<h5> <a href="/contact/">Contact Us </a></h5>
</span>
</footer>
