		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>PicyPy- Funny Collection of Images  </title>
		<meta name="description" content="PicyPy has more than 10000 of Images , which display images based on user interest" />
		<meta name="Keywords" content="picypy,random pics,funny images, my images, funny pics,random pics" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{STATIC_URL}}/css/bootstrap.min.css" rel="stylesheet">
<!-- 		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 -->		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/typicons.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/normalize.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="{{STATIC_URL}}/js/custom.js"></script>
		<script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}js/scripts.js"></script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54601579-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
function goBack() {
        window.history.back()
}
</script>
