{% include 'shared/fbsdk.html' %}
<header>
<nav class="navbar navbar-trans navbar-fixed-top" role="navigation" id="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <strong><a class="navbar-brand" href="/">PICYPY</a></strong>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-left">
        <li class='nav-menu'><a href="/random/">Random Images</a></li>
        <li class='nav-menu'><a href="#">About Us</a></li>
      </ul>

    {% comment %}
    <ul class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-default btn-lg" id="login">
      <span> Login </span>
      </button>
      <button type="button" class="btn btn-default btn-lg" id="register">
      <span> SignUp </span>
      </button>
    </ul>
    {% endcomment %}

    <div id="social-like" align="right"> 
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FPicyPy%2F478716328926951&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=332379970255311" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:25px;" allowTransparency="true"></iframe>
    </div>
    </div>
  </div>
</nav>
</header>
