<div class="col-xs-2 col-sm-2 col-lg-2 col-md-2  typcn typcn-thumbs-up rating" id="{{image.id}}_1"></div>
<div class="col-xs-2 col-sm-2 col-lg-2 col-md-2  typcn typcn-thumbs-down rating" id="{{image.id}}_2"></div>
<a href="/image/{{image.id}}#comment">
<div class="col-xs-2 col-sm-2 col-lg-2 col-md-2  typcn typcn-message rating rating-share" id="{{image.id}}_3"></div></a> 
<a href='http://www.facebook.com/share.php?u=http://picypy.com/image/{{ image.id }}' onclick="javascript:window.open(this.href,
          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><div class="col-xs-2 col-sm-2 col-lg-2 col-md-2 typcn typcn-social-facebook rating rating-share" id="{{image.id}}_4"></div></a>

 <a href="https://plus.google.com/share?url=http://picypy.com/image/{{ image.id }}" onclick="javascript:window.open(this.href,
          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><div class="col-xs-2 col-sm-2 col-lg-2 col-md-2  typcn typcn-social-google-plus rating rating-share" id="{{image.id}}_5"></div></a>

<a href="https://twitter.com/share" data-url="http://picypy.com/image/{{image.id}}" data-text="PicyPy" data-dnt="true" onclick="javascript:window.open(this.href,
          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<div class="col-xs-2 col-sm-2 col-lg-2 col-md-2  typcn typcn-social-twitter rating rating-share" id="{{image.id}}_6" >
</div>
</a>
